@tailwind base;
@tailwind components;
@tailwind utilities;

.font-orelega-one {
  font-family: var(--font-orelega-one);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

div, p{
    font-family: var(--font-montserrat);
}