.OrderButton{
    background-color: #6F63BA;
    width: 275px;
    height: 60px;
    font-weight: 600;
    color: #FFF;
    border-radius: 10px;
    font-size: 18px;
}
.OrderButton:hover{
    background-color: #5a4f9c;
    transition: 0.3s;
}